{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.societe, 'Société') }}
        {{ form_widget(form.societe) }}
    </div>
    <div class="form-group">
        {{ form_label(form.nom, 'Nom') }}
        {{ form_widget(form.nom) }}
    </div>
    <div class="form-group">
        {{ form_label(form.prenom, 'Prénom') }}
        {{ form_widget(form.prenom) }}
    </div>
    <div class="form-group">
        {{ form_label(form.email, 'Email') }}
        {{ form_widget(form.email) }}
    </div>
    <div class="buttons">
        <button class="btn-primary">{{ button_label|default('Enregistrer') }}</button>
        <a href="{{ path('app_client_index') }}" class="btn-light">Retour à la liste</a>
    </div>
{{ form_end(form) }}
