<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">       
        <title>Secure App | {% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}" />        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="logo" class="navbar-brand" href="{{ path('app_home') }}">
                        <img src="{{ asset('assets//img/logo.png') }}" alt="logo">Secure App</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">                    
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ path('app_client_index') }}">Clients</a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
